<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AGVCenterLib.Properties.Settings.AgvWarehoueDbConnectionString"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=AgvWarehoueDb;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
        <add name="AGVCenterLib.Properties.Settings.AgvWarehoueDbConnectionString1"
            connectionString="Data Source=WANGSONG-PC\MSSQLSERVER2008R;Initial Catalog=AgvWarehoueDb;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
        <add name="AGVCenterLib.Properties.Settings.AgvWarehoueDbConnectionString2"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=AgvWarehoueDb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AGVCenterLib.Properties.Settings.AgvWarehouseDbConnectionString"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=AgvWarehouseDb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="AGVCenterLib.Properties.Settings.AgvWarehouseDbConnectionString1"
            connectionString="Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=AgvWarehouseDb;Persist Security Info=True;User ID=sa;Password=123456@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>