<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGVCenterWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AGVCenterWPF.Properties.Settings>
            <setting name="dbString" serializeAs="String">
                <value>Data Source=Charlot-PC\MSSQLSERVER20082;Initial Catalog=AgvWarehouseDb;Persist Security Info=True;User ID=sa;Password=123456@</value>
            </setting>
            <setting name="OPCNodeName" serializeAs="String">
                <value>192.168.0.105</value>
            </setting>
            <setting name="OPCServerName" serializeAs="String">
                <value>OPC.SimaticNET.1</value>
            </setting>
        </AGVCenterWPF.Properties.Settings>
    </applicationSettings>
</configuration>