@{
    ViewBag.Title = "ImportOutStock";
}

<div id="dialog_content" class="import_content">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        使用文件导入出库记录
    </div>
    <div class="dialogModal_content">
        <strong>选择文件:</strong>
        <hr />
        <input class="item-data-uploader" type="file" name="files[]" data-url="/Storage/DoImportOutStock" />
        <div class="item-data-uploader-preview" style="display:none;"></div>
        <hr />
    </div>
</div>


<script type="text/javascript">
    data_upload(".item-data-uploader");
</script>
