@{
    ViewBag.Title = "ImportPriority";
}

<div id="dialog_content" class="import_content">
    <div class="dialogModal_header" style="background:steelblue;color:white;font-weight:600;padding:10px;">
        导入设置库位优先级文件
    </div>
    <div class="dialogModal_content">
        <strong>选择文件:</strong>
        <hr />
        <input class="item-data-uploader" type="file" name="files[]" data-url="/Position/DoImportPriority" />
        <div class="item-data-uploader-preview" style="display:none;"></div>
        <hr />
    </div>
</div>
<script type="text/javascript">
    data_upload(".item-data-uploader");
</script>