<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
      <services>
       
        <service behaviorConfiguration="serviceBeh" name="AgvServiceLib.ProductService">
          <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
              name="productservice" contract="AgvServiceLib.IProductService" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9001/AgvService/ProductService/" />
            </baseAddresses>
          </host>
        </service>

        <service  behaviorConfiguration="serviceBeh" name="AgvServiceLib.DeliveryService">
          <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
                    name="deliveryservice" contract="AgvServiceLib.IDeliveryService"/>

          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9001/AgvService/DeliveryService/"/>
            </baseAddresses>
          </host>
        </service>
        
        
      </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="serviceBeh">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
            <dataContractSerializer maxItemsInObjectGraph="102400000" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <bindings>
        <basicHttpBinding>
          <binding name="basicHttpBinding" openTimeout="00:20:00" maxBufferSize="50000000"
            maxReceivedMessageSize="50000000" messageEncoding="Mtom" transferMode="Streamed">
            <readerQuotas maxDepth="50000000" maxStringContentLength="50000000"
              maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          </binding>
        </basicHttpBinding>
      </bindings>
      
        <client/>
    </system.serviceModel>
</configuration>
