<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <services>
      <service name="AgvServiceLib.ProductService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
                  name="productservice" contract="AgvServiceLib.IProductService"/>
           
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
           
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/AgvService/ProductService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="AgvServiceLib.DeliveryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
                  name="deliveryservice" contract="AgvServiceLib.IDeliveryService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000/AgvService/DeliveryService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
         <dataContractSerializer maxItemsInObjectGraph="102400000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
   <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" transferMode="Streamed" maxReceivedMessageSize="50000000" maxBufferSize="50000000" openTimeout="00:20:00" messageEncoding="Mtom">
          <readerQuotas maxDepth="50000000" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
