<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AgvClientWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="productservice" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="50000000" maxBufferSize="50000000" maxReceivedMessageSize="50000000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000"
            maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="deliveryservice" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="50000000" maxBufferSize="50000000" maxReceivedMessageSize="50000000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000"
            maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="trayservice" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="50000000" maxBufferSize="50000000" maxReceivedMessageSize="50000000"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000"
            maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="storageservice" closeTimeout="00:10:00" openTimeout="00:10:00"
       receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
       bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
       maxBufferPoolSize="50000000" maxBufferSize="50000000" maxReceivedMessageSize="50000000"
       textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
       messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000"
            maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings> 
      <behaviors>
        <endpointBehaviors>
          <behavior name="BasicHttpBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </endpointBehaviors>
      </behaviors> 
    <client>
      <endpoint address="http://localhost:9001/AgvService/ProductService/"
        binding="basicHttpBinding" bindingConfiguration="productservice" 
        contract="AgvProductService.IProductService" name="productservice"   behaviorConfiguration="BasicHttpBehavior"/>
      <endpoint address="http://localhost:9001/AgvService/DeliveryService/"
        binding="basicHttpBinding" bindingConfiguration="deliveryservice"
        contract="AgvDeliveryService.IDeliveryService" name="deliveryservice"  behaviorConfiguration="BasicHttpBehavior"/>
      <endpoint address="http://localhost:9001/AgvService/TrayService/"
        binding="basicHttpBinding" bindingConfiguration="trayservice"
        contract="AgvTrayService.ITrayService" name="trayservice"   behaviorConfiguration="BasicHttpBehavior"/>
      <endpoint address="http://localhost:9001/AgvService/StorageService/"
        binding="basicHttpBinding" bindingConfiguration="storageservice"
        contract="AgvStorageService.IStorageService" name="storageservice"   behaviorConfiguration="BasicHttpBehavior"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <AgvClientWPF.Properties.Settings>
      <setting name="BoxType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TestModel" serializeAs="String">
        <value>true</value>
      </setting>
    </AgvClientWPF.Properties.Settings>
  </applicationSettings>
</configuration>
